# Ambiente virtual
venv/
.env/
.venv/

# Build da biblioteca
*.egg-info/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Outputs gerados
*.gexf
*.graphml

# Sistema
.DS_Store
